*{
  margin: 0;
}
.app_headerImage{
  background-color: white;
  object-fit: contain;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.post{
  max-width: 500px;
}
.post_image{
  object-fit: contain;
  width: 100%;
  
}
.post_header{
  display: flex;
  align-items: center;
  padding: 20px;
}
.app_signup{
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}